{
    "telegram": {
        "token": "{{ telegram.token }}",
        "chat_id": {{ telegram.chat_id }}
    },
  
    "service": {
        "url": "{{ service.url }}",
        "search_string": "{{ service.search_string }}"
    },
    
    "timeout": {
        "read": 1,
        "connection": 1
    }
}
